/*  Background */
body {
    background-color: black;
    color: white;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url("https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/stsci-h-p2001a-m-2000x1333.png");
    background-size: cover;
    background-attachment: fixed;
}

/* Header */
header {
    background: rgba(0, 0, 50, 0.9);
    padding: 20px;
    border-bottom: 2px solid white;
}

/* Title */
h1 {
    font-size: 3em;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8);
}

/* Centering Everything */
.sections {
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;  
    gap: 20px;  
    margin-top: 50px;
    padding: 0 20px;
}

/* Section Cards */
.section-card {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    font-size: 1.8em;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
    transition: transform 0.3s, background 0.3s;
    cursor: pointer;
    width: 300px; 
    text-align: center;
}

/* Image Styling */
.section-card img {
    width: 100%;
    height: 200px; /* Set a fixed height for the images */
    object-fit: cover; 
    border-radius: 15px;
    box-shadow: 0px 0px 10px white;
}


/* Hover Effect */
.section-card:hover {
    transform: scale(1.1);
    background: rgba(255, 255, 255, 0.2);
}

/*  Cards for Missions, Astronauts, Spacecraft */
#missions-list, #astronauts-list, #spacecraft-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

/* Card Styling */
.card {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    width: 280px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.3);
    transition: transform 0.3s;
}

/* over Effect */
.card:hover {
    transform: scale(1.05);
}

/* Thumbnail Styling */
.thumbnail {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0px 0px 10px white;
}

/* Text Styling */
.card h3 {
    font-size: 1.5em;
    margin-top: 10px;
}

.card p {
    font-size: 1.2em;
    margin-top: 5px;
}
